extends ./Main_Layout.pug

block styles_1
    link(rel='stylesheet' href="/css/other_pages.css")
    
block content
    br
    br
    br
    br
    br
    p This is the page that you can use to learn more about AI  